﻿body .top-bar {
    background-color: deepskyblue;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: chartreuse;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left{
            flex-grow: 4;
            background-color: antiquewhite;
            display: flex;
            gap: 15px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: brown;
            display: flex;
            gap: 10px;
        }
